body {background-color: rgb(240, 132, 56);}

h1 {
text-align: center;
align-items: center;
color: rgb(139, 64, 10);
font-size: 300%;
border-style: double;
border-color: rgb(139, 64, 10);
border-width: 60%;
}

h2 {
    text-align: center;
    align-items: center;
    color:black;
    font-size: 200%;
}


h3 {
    text-align: center;
    align-items: center;
    color: rgb(139, 64, 10);
    font-size: 200%;
    border-style: double;
    border-color: rgb(139, 64, 10);
    border-width: 60%;
}

a {
text-align: center;
align-items: center;
font-size: 200%;
color: black;
}
